@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  --cont-w: 1200px;
  --block-pd: 110px;

  --fz-pg-ttl: 54px;
  --fz-def: 18px;
  --fz-mid: 14px;
  --fz-small: 12px;

  --bg-grd: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #13cdc2 100%);
  --bg-shadow: 0px 7px 20px -7px #00e0ff;

  --clr-grey: #747d81;
  --clr-blue: #4abcec;
  --clr-blue-lght: #00e0ff;
  --clr-blue-dark: #08b1b9;
}

@media screen and (max-width: 1200px) {
  :root {
    --bg-clr: red;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  display: block;
}

body {
  background: linear-gradient(286.41deg, #022335 3.63%, #043a41 90.98%);
}

a {
  text-decoration: none;
}

button,
input {
  outline: none;
}

.container {
  width: var(--cont-w);
  margin: 0 auto;
}

.section {
  width: 100%;
  padding: var(--block-pd) 0;
  overflow: hidden;
}

.line {
  box-shadow: 0px 3px 15px rgba(0, 224, 255, 0.93), 0px 4px 15px #4ad9ec,
    0px 0px 24px #00e0ff;
  filter: blur(2px);
  border: none;
  height: 0.1px;
}

/* ---------- TEXT ---------- */
.txt__def {
  font-size: var(--fz-def);
  color: #fff;
}
.txt__bold {
  font-weight: 700;
}
.txt__mid {
  font-size: var(--fz-mid);
}
.txt__grey {
  color: var(--clr-grey);
}
.txt__blue-light {
  color: var(--clr-blue-lght);
}

.fz__small {
  font-size: var(--fz-small);
}
.txt__block--ttl {
  font-size: var(--fz-pg-ttl);
  color: #fff;
  text-transform: uppercase;

  width: 787px;

  margin-bottom: 50px;
}
.txt__block--ttl span {
  color: var(--clr-blue);
}

/* ---------- BUTTON ---------- */
.btn {
  padding: 22px 13px 25px;
  border-radius: 9px;
  border: none;
  color: #fff;
  font-size: var(--fz-small);
  text-transform: uppercase;
  letter-spacing: 0.25em;

  cursor: pointer;
}
.btn-grdnt {
  background: var(--bg-grd);
  box-shadow: var(--bg-shadow);
}

/* ---------- MAIN ---------- */
.main {
  background: url('./assets/bg_home.png') no-repeat;
  width: 100%;
  height: auto;
  padding: 46px 0 175px;
  position: relative;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__phone {
  display: flex;
  align-items: center;
}
.header__phone a {
  margin-left: 10px;
  color: #fff;
  font-weight: 300;
}
.main__content {
  margin-top: 150px;
}
.main__content--name {
  font-size: 108px;
  background: linear-gradient(180deg, #ffffff 31.75%, #1a3031 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main__content--text {
  width: 580px;
  margin-top: 18px;
}
.main__content--guarantee {
  margin-top: 75px;
  display: flex;
  align-items: start;
  width: 575px;
}
.main__content--guarantee img {
  margin-right: 33px;
}
.main__content--guarantee p:first-child {
  margin-bottom: 8px;
  line-height: 28px;
}
.main__content--btn {
  margin-top: 100px;
}

.support {
  position: fixed;
  top: 150px;
  left: 125px;

  z-index: 999;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.support__icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-grd);
  box-shadow: var(--bg-shadow);
}
.vertical__write {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  margin-top: 15px;
  letter-spacing: 0.36em;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently not supported by any browser */
}

/* ---------- WHY ---------- */
.why {
  width: 100%;
  background: linear-gradient(
    286.41deg,
    rgba(2, 35, 53, 0.8) 3.63%,
    rgba(12, 55, 61, 0.8) 90.98%
  );

  padding: var(--block-pd);
}

.why__blocks {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.why__blocks--item {
  flex: 1 0 23%;
  margin: 10px;
  padding: 35px 45px;

  position: relative;

  background: linear-gradient(
    180deg,
    rgba(0, 224, 255, 0.11) 0%,
    rgba(0, 224, 255, 0.0539) 100%
  );
  border-radius: 20px;

  color: #fff;
}
.why__blocks--item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  padding: 3px;
  background: radial-gradient(
    47.54% 111.62% at 50% 50%,
    #49b9e8 0%,
    rgba(31, 77, 96, 0.43) 100%
  );
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;

  /* border-image-source: radial-gradient(47.54% 111.62% at 50% 50%, #49B9E8 0%, rgba(31, 77, 96, 0.43) 100%); */
}
.why__blocks--item img {
  margin-bottom: 18px;
}

/* ---------- AI ---------- */
.ai {
  width: 100%;
  background: linear-gradient(286.41deg, #022335 3.63%, #043a41 90.98%);
  padding: var(--block-pd);
  overflow: hidden;
}
.ai__block {
  position: relative;
  display: block;
  width: 100%;
}
.ai__block--list {
  width: 550px;
  list-style: none;
}
.ai__block--list li {
  position: relative;
  background: linear-gradient(
    90deg,
    rgba(31, 63, 77, 0.54) 0%,
    rgba(31, 75, 94, 0) 100%
  );
  padding: 20px 20px 20px 70px;
  color: #fff;
  margin-bottom: 5px;
}
.ai__block--list li::after {
  display: block;
  content: url('assets/ok.svg');
  position: absolute;
  top: 17px;
  left: 20px;
}
.ai__block--img {
  position: absolute;
  right: -10%;
  top: 50%;
  transform: translateY(-50%);
  mix-blend-mode: lighten;
  z-index: 0;
}
.ai__block--btn {
  margin-top: 70px;
}

/* ---------- IMPORTANT ---------- */
.important {
  display: block;
  width: 100%;
  background: linear-gradient(
    286.41deg,
    rgba(2, 35, 53, 0.8) 3.63%,
    rgba(12, 55, 61, 0.8) 90.98%
  );

  padding: var(--block-pd);
}
.important__block {
  display: flex;
  flex-wrap: wrap;
}
.important__block--item {
  display: flex;
  align-items: center;
  width: 50%;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
}
.important__block--item:nth-last-child(-n + 2) {
  flex-direction: row-reverse;
  margin-top: 50px;
}
.important__item--img {
  margin-right: 20px;
}
/* ---------- WHYWE ---------- */
.whywe {
  display: block;
  width: 100%;
  background: linear-gradient(
    286.41deg,
    rgba(2, 35, 53, 0.8) 3.63%,
    rgba(12, 55, 61, 0.8) 90.98%
  );
  padding: var(--block-pd);
  overflow: hidden;
}
.whywe__block {
  position: relative;
}
.whywe__block--list {
  width: 690px;
  list-style: none;
}
.whywe__block--list li {
  position: relative;
  padding: 20px 20px 20px 70px;
  color: #fff;
  margin-bottom: 5px;
}
.whywe__block--list li::after {
  display: block;
  content: url('assets/checked.svg');
  position: absolute;
  top: 8px;
  left: 0px;
}
.whywe__block--img {
  position: absolute;
  right: -30%;
  top: 50%;
  transform: translateY(-50%);
  mix-blend-mode: lighten;
  z-index: 0;
}
.whywe__block--btn {
  margin-top: 50px;
}

/* ---------- IKNOW ---------- */
.iknow {
  display: block;
  width: 100%;
  background: linear-gradient(
    286.41deg,
    rgba(2, 35, 53, 0.8) 3.63%,
    rgba(12, 55, 61, 0.8) 90.98%
  );
  padding: var(--block-pd);
}
.iknow .txt__block--ttl {
  width: 850px;
}
.iknow__block {
  width: 100%;
  display: block;
}
.iknow__block--item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;

  padding: 15px;
  background: linear-gradient(286.41deg, #073447 3.63%, #08262b 90.98%);
  border-radius: 6px;
  color: #fff;
}
.iknow__block--item {
  margin-bottom: 20px;
}
.iknow__block--item-header p {
  font-size: 20px;
  padding-left: 20px;
  position: relative;
}
.iknow__block--item-header p:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  width: 10px;
  height: 10px;
  background: linear-gradient(180deg, #00e0ff 0%, #4a8bec 100%);
  box-shadow: 0px 4px 8px rgba(0, 224, 255, 0.56);
  border-radius: 50%;
}
.iknow__block--item-header.developing p:after {
  display: block;
  content: 'В разработке';
  font-size: 13px;
  line-height: 21px;
  text-transform: uppercase;

  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(120%, -50%);
  padding: 4px;
  background: var(--clr-blue);
}
.iknow__block--item-header p span {
  color: var(--clr-blue-dark);
  font-size: 15px;
}
.iknow__block--item-header .list__arrow {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;

  flex: none;
  margin: 0;
  padding: 0;
  border-radius: 6px;
}
.list__arrow.why__blocks--item:before {
  border-radius: 6px;
}
.iknow__block--item-header .list__arrow img {
  transform: rotate(180deg);
  margin: 0;
}
.iknow__block--item-list {
  counter-reset: myOrderedListItemsCounter;
}
.iknow__block--item-list h3 {
  font-size: 16px;
  color: var(--clr-blue);
  margin-bottom: 14px;
}
.iknow__block--item-list p {
  font-size: 16px;
  color: #fff;
  line-height: 21px;
}
.iknow__block--item-list li {
  list-style-type: none;
  position: relative;
  margin: 20px 0;
  margin-left: 45px;
}
.iknow__block--item-list li:before {
  counter-increment: myOrderedListItemsCounter;
  content: counter(myOrderedListItemsCounter);
  margin-right: 0.5em;
  position: absolute;
  left: -45px;
  top: -4px;
  width: 27px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--clr-blue);
}
.iknow__block--btn {
  margin-top: 59px;
}

/* AUTHOR */
.author {
  display: block;
  width: 100%;
  background: linear-gradient(
    286.41deg,
    rgba(2, 35, 53, 0.8) 3.63%,
    rgba(12, 55, 61, 0.8) 90.98%
  );
  padding: var(--block-pd);
  overflow: hidden;
  position: relative;
}

.author__block {
  display: block;
  width: 100%;
}

.author__block p {
  color: #fff;
  font-size: 15px;
  line-height: 24px;
  width: 470px;
  margin-bottom: 30px;
  position: relative;
}
.author__block p:first-child:before {
  display: block;
  content: '';

  position: absolute;

  width: 41px;
  height: 10px;
  left: -5px;
  top: 5px;

  background: rgba(3, 225, 255, 0.53);
  filter: blur(5px);
}
.author__block--kim {
  position: absolute;
  right: 0;
  bottom: 0;
}
.author__block--kim img {
  mix-blend-mode: lighten;
  box-shadow: inset 1px 0px 16px 41px #08262b;
}
.author__block--kim-spec {
  position: absolute;
  left: 25%;
  bottom: 0;
}
.author__block--kim-spec img {
  display: block;
  mix-blend-mode: unset;
  box-shadow: none;
}
.author__block--kim-spec p {
  position: absolute;
  bottom: 0;
  position: absolute;
  bottom: 10%;
  left: 60%;
  color: var(--clr-blue);
  font-size: 24px;
  line-height: 20px;
  font-weight: bold;
}
.author__block--kim-spec p span {
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  font-weight: 400;
}

/* ---------- ADS ---------- */
.ads {
  background: linear-gradient(
    110deg,
    rgb(2 35 53) 3.63%,
    rgb(12 55 61 / 58%) 90.98%
  );
}

/* ---------- SLIDER ---------- */
.slider {
  width: 100vw;
  display: flex;
  justify-content: center;

  overflow: hidden;
}
.slider__container {
  width: 80%;
  height: 90%;
}
.slider__container--block {
  display: flex;

  height: 100%;

  align-items: center;

  transition: transform 1s ease;
}
.slider__btn {
  width: 62px;
  height: 62px;
  font-size: 30px;
  border-radius: 50%;

  background: linear-gradient(180deg, rgba(3, 225, 255, 0.66) 0%, #13cdc2 100%);
  box-shadow: 0px 7px 20px -7px #00e0ff;
  color: #fff;
  border: none;
  z-index: 99;
  margin-top: 6.5%;
}
.slider__btn:first-child {
  margin-right: -75px;
}
.slider__btn:last-child {
  margin-left: -62px;
}
.slider__btn:disabled {
  background: rgba(0, 0, 0, 0.7);
  box-shadow: none;
}
.box {
  width: 33.3%;
  height: 100%;
  color: #fff;
  margin-right: 20px;
}
.box h3 {
  font-size: 16px;
  margin: 30px 0 20px;
}
.box:hover .box__img {
  opacity: 1;
}
.box__img {
  opacity: 0.6;
  transition: opacity 0.5s ease;
}
.box div {
  font-size: 15px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.box a {
  text-decoration: underline;
  color: var(--clr-blue);
  cursor: pointer;
}

/* ---------- VACANCY ---------- */
.vacancy {
  background: linear-gradient(286.41deg, #022335 3.63%, #043a41 90.98%);
}

/* ---------- VACANCY ---------- */
.footer {
  background: linear-gradient(286.41deg, #022335 3.63%, #043a41 90.98%);
  padding-bottom: 45px;
}
.footer__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__block--info {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.footer__block--info-top {
  display: flex;
  margin-bottom: 30px;
}
.footer__block--info-top div {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.footer__block--info-top div img {
  margin-right: 10px;
}
.footer__block--info-top div a {
  color: var(--clr-blue);
  font-size: 18px;
  line-height: 21px;
}
.footer__block--info-top div:last-child a {
  color: #fff;
}
.footer__block--info-bottom {
  display: flex;
  align-items: center;
}
.footer__block--info-bottom p {
  font-weight: 900;
  font-size: 10px;
  line-height: 21px;
  color: #747d81;
  text-transform: uppercase;
  margin-right: 10px;
}
.footer__block--info-bottom a {
  margin: 0 8px;
}
.copyright {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 45px;
  color: #fff;
  position: relative;
}
.copyright::before {
  position: absolute;
  content: '';
  display: block;
  width: 35%;
  height: 1px;
  background: #fff;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.copyright::after {
  position: absolute;
  content: '';
  display: block;
  width: 35%;
  height: 1px;
  background: #fff;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
